In [2]:
import numpy as np
import pandas as pd
import statsmodels.formula.api as smf

In [13]:
from sklearn.datasets import load_boston
b = load_boston()
Boston = pd.DataFrame(b.data, columns=b.feature_names)
Boston['MEDV']=b.target

In [19]:
lm = smf.ols('MEDV ~ LSTAT + AGE', data = Boston).fit()
#lm.summary()#LSTATとAGEによる重回帰分析

In [18]:
lm = smf.ols('MEDV ~ LSTAT * AGE', data = Boston).fit()
#lm.summary()#LSTATとAGEとそれらの積項による重回帰分析

In [20]:
lm = smf.ols('MEDV ~ LSTAT + I(LSTAT ** 2)', data = Boston).fit()
#lm.summary()LSTATとその2乗項による重回帰分析

In [22]:
lm = smf.ols('MEDV ~ np.log(RM)', data=Boston).fit()
#lm.summary()

In [42]:
import os
os.chdir('./Desktop/3S/Wed3_stat')
Carseats = pd.read_csv('Carseats.csv', header=0)
list(Carseats)

['Sales',
 'CompPrice',
 'Income',
 'Advertising',
 'Population',
 'Price',
 'ShelveLoc',
 'Age',
 'Education',
 'Urban',
 'US']

In [44]:
Carseats.head(10)

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
5,10.81,124,113,13,501,72,Bad,78,16,No,Yes
6,6.63,115,105,0,45,108,Medium,71,15,Yes,No
7,11.85,136,81,15,425,120,Good,67,10,Yes,Yes
8,6.54,132,110,0,108,124,Medium,76,10,No,No
9,4.69,132,113,0,131,124,Medium,76,17,No,Yes

In [52]:
import matplotlib.pyplot as plt
#Carseats.plot(kind = 'scatter', x='Advertising', y='Sales')
#plt.show()

In [54]:
#Carseats.plot(kind = 'scatter', x = 'Price', y = 'Sales')
#plt.show()

In [60]:
#Carseats.boxplot(column = 'Sales', by = 'ShelveLoc')
#plt.show()

In [61]:
lm = smf.ols('Sales ~ Income + Advertising + Price + Age', data=Carseats).fit()
#lm.summary()

In [62]:
lm = smf.ols('Sales ~ Income + Advertising + Price + Age + C(ShelveLoc)', data = Carseats).fit()
#lm.summary()#C(質的変数)